extends base 

block vars
   - var title = "Register"

block body
    h1 Create an Account
    form(method="post")
      span First Name;
      input(type="text", name="FirstName", registered=true)
      br

      span Last Name;
      input(type="text", name="LastName", registered=true)
      br

      span Email;
      input(type="email", name="email", registered=true)
      br

      span Password;
      input(type="password", name="password", registered=true)

      br
      input(type="submit")      